.support{
    width: 100%;
    height: 400px;
    box-shadow: 0 0 15px #a7bbc7;
    overflow: hidden;
}
.support .container{
    margin: 100px auto;
    display: flex;  
    position: relative;
    justify-content: center;
}
.support .container h1{
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-left: 15px;
    color: #fff;
    position: absolute;
    font-size: 250px;
    top: -40px;
    left: 0;
    line-height: 0.8em;
    opacity: 0.6;
    text-shadow: 15px 6px 0 #aaa;
}
.support  .txt{
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 10px;
    position: relative;
    z-index: 1;
    text-align: center;
}
.support h2{
    font-size: 48px;
}
.support .container p{
    font-size: 24px;
}

.what, .start{
    background-color: #fff;
    margin: 50px 20px;
}
.choose, .how-to, .set-remote, .how-cancel{
    background-color: #C9CCD5;   
}
.choose .txt, .how-to .txt, .restrict .txt,.set-remote .txt, .examination .txt, .how-preorder .txt, .how-cancel .txt, .bill .txt{
    padding: 50px 20px;
}
.choose ul, .start ul li, .how-to ul li, .restrict li, .set-remote li, .examination li{
    margin: 20px 0;
}

.remote, .pre-order{
    background-color: #3D56B2;
    width: 100%;
    margin: auto;
    padding: 50px 0;
}
.remote .txt, .pre-order .txt{
    text-align: center;
    color: #fff;
}


@media screen and (min-width: 768px) {
    .what .txt, .choose .txt, .how-to .txt, .restrict .txt,.set-remote .txt, .examination .txt, .how-preorder .txt, .how-cancel .txt, .bill .txt, .start .txt{
        padding: 50px 100px;
    }
}